@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Inter, sans-serif;
    font-weight: 300;
    color: #003566;
    background-color: rgb(245, 204, 0);
    max-width: 2000px;
    margin: 0 auto;
}

/* heading and logo */
header {
    height: 120px;
    background-color: rgb(0, 8, 20);
    position: relative;
}

h1 {
    font-family: Bebas Neue, sans-serif;
    letter-spacing: 3px;
    color: #CCA000;
    font-size: 100px;
}

#logo {
    float: left;
    margin-left: 20px;
    text-shadow: 4px 4px 4px rgb(245, 204, 0, .3);
}

/* navigation menu */

#navigation {
    font-size: 180%;
    font-family: Bebas Neue, sans-serif;
    text-align: center;

}

#navigation li {
    float: right;
    list-style-type: none;
    margin-top: 40px;
    margin-right: 60px;
}

#navigation a {
    text-decoration: none;
    color: #CCA000;
}

#navigation a:hover {
    color: #003566;
}