@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Inter, sans-serif;
    font-weight: 300;
    color: #003566;
    /* background-color: rgb(245, 204, 0, .6); */
    max-width: 2000px;
    margin: 0 auto;
}

/* heading and logo */
header {
    height: 120px;
    background-color: rgb(0, 8, 20);
    position: relative;
    padding: 2px 2px;
}

h1 {
    font-family: Bebas Neue, sans-serif;
    letter-spacing: 8px;
    color: #CCA000;
    font-size: 100px;
}

#logo {
    float: left;
    margin-left: 20px;
    -webkit-text-stroke: .2px white;
}

/* navigation menu */

#navigation {
    font-size: 180%;
    font-family: Bebas Neue, sans-serif;
    text-align: center;

}

#navigation li {
    float: right;
    list-style-type: none;
    margin-top: 40px;
    margin-right: 60px;
}

#navigation a {
    text-decoration: none;
    color: #CCA000;
}

#navigation a:hover {
    color: white;
}

/* hero image and text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/basketball_hero\ \(1\).jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

#hero-text {
    font-size: 130%;
    font-family: Inter, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 400px;
    height: 400px;

    padding-top: 10px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}